<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ title }}</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <li ng-click="toggleTask(task)" class="list-group-item" ng-class="{active: task.isActive}" ng-repeat="task in tasks">
        <span ng-class="{'glyphicon-unchecked': !task.checked, 'glyphicon-check': task.checked}" class="state-icon glyphicon"></span>
        {{ task.name }}
      </li>
    </div>
  </div>
  <div class="panel-footer">Finished: {{ finNum }}</div>
</div>